{% extends 'base.html.twig' %}
<div class="card col-md-12">
  <div class="card-header">
    <h1>
      <i class="fas fa-shopping-cart"></i> 3 Produit(s) :
      <b>7,84&nbsp;€</b>
    </h1>
    <div class="col-md-12 btn-group btn-group-lg" role="group">
      <a class="btn btn-primary" href="/mi5/fr/boutique">
        Continuer les Courses
      </a>
      <a class="btn btn-primary" href="/mi5/fr/panier/commander">
        Passer la Commande
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th>
              Produit
            </th>
            <th class="text-right">
              Prix
            </th>
            <th>
              Quantite
            </th>
            <th class="text-right">
              Total
            </th>
            <th>
              Supprimer
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="/mi5/images/produits/oreo.jpg"
                class="cart-img-produit"
                alt="Oreo" />
            </td>
            <td>
              <a href="/mi5/fr/boutique/rayon/3"><b>Oreo</b></a>
            </td>
            <td class="text-right">
              2,50&nbsp;€
            </td>
            <td>
              <a href="/mi5/fr/panier/enlever/9">
                <i class="fas fa-minus-square text-muted"></i>
              </a>
              2
              <a href="/mi5/fr/panier/ajouter/9">
                <i class="fas fa-plus-square text-muted"></i>
              </a>
            </td>
            <td class="text-right">
              5,00&nbsp;€
            </td>
            <td>
              <a href="/mi5/fr/panier/supprimer/9">
                <i class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Supprimer Oreo">

                </i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="/mi5/images/produits/peche.jpg"
                class="cart-img-produit"
                alt="Pêche" />
            </td>
            <td>
              <a href="/mi5/fr/boutique/rayon/1"><b>Pêche</b></a>
            </td>
            <td class="text-right">
              2,84&nbsp;€
            </td>
            <td>
              <a href="/mi5/fr/panier/enlever/3">
                <i class="fas fa-minus-square text-muted"></i>
              </a>
              1
              <a href="/mi5/fr/panier/ajouter/3">
                <i class="fas fa-plus-square text-muted"></i>
              </a>
            </td>
            <td class="text-right">
              2,84&nbsp;€
            </td>
            <td>
              <a href="/mi5/fr/panier/supprimer/3">
                <i class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Supprimer Pêche">

                </i>
              </a>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="text-right" colspan="4">
              Total
            </th>
            <th class="text-right">
              7,84&nbsp;€
            </th>
            <th>
              <a href="/mi5/fr/panier/vider">
                <i class="fas fa-trash text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-html="true"
                  data-original-title="Vider le Panier">

                </i>
              </a>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
